#show-price {
  display: none;
  background-color: #FAEBD7;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  height: 500px;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/heart-pizza-1498514418.jpg");
  color: black;
}

.jumbotron h1 {
  font-size: 100pt;
}

button {
  margin-left: 15px;
}

.yummypizza {
  cursor: pointer;
  color: #0088cc;
}

.yummypizza:hover {
  text-decoration: underline;
  column-rule-color: grey;
}

body {
  background-color:#a38280;
}

ul {
  list-style: none;
}

.type-of-pizza {
  color:#670e0e;
  font-style: italic;
  font-size: 20pt;
}

.extraToppings {
  color:#670e0e;
  font-style: italic;
  font-size: 20pt;
}
.moreToppings {
  color:#670e0e;
  font-style: italic;
  font-size: 20pt;
}
.sizeOfPizza {
  color:#670e0e;
  font-style: italic;
  font-size: 20pt;
}
.price {
  color:#670e0e;
  font-style: italic;
  font-size: 20pt;
}

.header1 {
  font-size: 40pt;
  color:#670e0e;
  font-style: italic;
}
